/* Light & Dark Theme Colors */
:root,
.light-mode {
  --bg-color: #f5f5f7 ;
  --text-color: #1d1d1f;
  --link-color: #0071e3;
  --nav-bg: rgba(255, 255, 255, 0.8);
  --nav-text: #1d1d1f;
  --border-color: #d2d2d7;
  --button-hover: #0077ed;
}

.dark-mode {
  --bg-color: #000000;
  --text-color: #f5f5f7;
  --link-color: #2997ff;
  --nav-bg: rgba(0, 0, 0, 0.8);
  --nav-text: #f5f5f7;
  --border-color: #424245 ;
  --button-hover: #0077ed;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
